Chess/obj/Chess.csproj.nuget.dgspec.json
Chess/obj/Chess.csproj.nuget.g.props
Chess/obj/Chess.csproj.nuget.g.targets
Chess/obj/project.assets.json
Chess/obj/project.nuget.cache
Chess/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
Chess/obj/Debug/net10.0/Chess.AssemblyInfo.cs
Chess/obj/Debug/net10.0/Chess.AssemblyInfoInputs.cache
Chess/obj/Debug/net10.0/Chess.assets.cache
Chess/obj/Debug/net10.0/Chess.GeneratedMSBuildEditorConfig.editorconfig
Chess/obj/Debug/net10.0/Chess.GlobalUsings.g.cs
